[Unit]
Description=gologq rsyslog to redis forwarder
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/gologq
Restart=always
ExecStart=/usr/local/bin/gologq

[Install]
WantedBy=multi-user.target